{% extends "auctions/layout.html" %}
{% block title %}Details{% endblock %}
{% block body %}


<div class="container text-center">
    {% if alert %}
    <div class="alert alert-success" role="alert">
        {{alert}}
    </div>
    {% elif error %}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div> 
    {% endif %}
    <h1>{{listing.listing_name}}</h1>
    <p><em>{{listing.post_date}}</em></p>
    <p>{{listing.listing_desc}}</p>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <img src="{{listing.picture.url}}" alt="{{listing.listing_name}}" width="60%">
        </div>

        <div class="col-sm-6">

            <div class="card">
                <div class="card-header">
                    Details
                </div>
                <div class="card-body">
                    <p class="card-title">Starting bid: ${{listing.starting_bid}}</p>
                    {% if listing.current_bid %}
                    <p class="card-text"><strong>Starting bid: ${{listing.current_bid}}</strong></p><br>
                    {% else %}
                    <p><strong>No bids so far</strong></p><br>
                    {% endif %}

                    {% if user.is_authenticated %}
                    <div>
                        <a href="{% url 'add' listing.listing_name %}" class="btn btn-primary">Add to watchlist</a>
                        <a href="#" class="btn btn-primary">Remove from watchlist</a>
                    </div>

                    {% endif %}
                </div>
            </div>



        </div>


    </div>
</div>


{% endblock %}