{% extends "auctions/layout.html" %}

{% block body %}
{% if success %}
<h3>{{ success }}</h1>
    {% endif %}
    <h2>Active Listings</h2>
    {% if listings %}
    <ul>
        {% for listing in listings %}
        <li>
            <a href="{% url 'details' listing.listing_name %}">
                <div>
                    <h1>{{ listing.listing_name }}</h1>
                    <h2>Price: {{ listing.starting_bid }}</h2>
                    <h3>{{ listing.listing_desc }}</h3>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <h1>No listings</h1>
    {% endif %}
    {% endblock %}