{% extends "auctions/layout.html" %}

{% block body %}
{% if success %}
<h3>{{ success }}</h1>
    {% endif %}
    <h2>Active Listings</h2>
    {% if listings %}
    <ul class="list-group list-group-flush">
        {% for listing in listings %}
        <li class="list-group-item">
            <a href="{% url 'details' listing.listing_name %}">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        {% if listing.picture %}
                        <img src="{{ listing.picture.url }}" class="img-fluid rounded-start" alt="{{ listing.listing_name }}">
                        {% endif %}
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">{{ listing.listing_name }}</h5>
                          <p class="card-text">Price: {{ listing.starting_bid }}</p>
                          <p class="card-text"><small class="text-muted">{{ listing.listing_desc }}</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <h1>No listings</h1>
    {% endif %}
    {% endblock %}